{% extends "base.html" %}
{% block header %}
{% load static %}


<!--CSS-->
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<link rel="stylesheet" href="{% static 'css/base.css' %}">

{% endblock %}

{% block content %}

<!--로그인폼-->
<div class="container">
    <div>
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <div class=username>Username:</div>
            <input name="username" type="text" value="">
            <br>
            <div class=password>Password:</div>
            <input name="password" type="password" value="">
            <br>
            <br>
            <input class="btn btn-primary" type="submit" value="Login">
        </form>

        {% if error %}
        {{error}}

        {% endif%}

    </div>
</div>
{% endblock %}