{% extends "base.html" %}
{% block header %}
{% load static %}

<!--CSS-->
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="stylesheet" href="{% static 'css/home.css' %}">

{% endblock %}

{% block content %}

<!--검색결과 load-->
<div class="search_keyword">
    <p>"{{keyword}}"를 포함한 뉴스레터입니다.</p>
</div>

<!--검색결과 존재할때-->
<div class="container-fluid">
    <div class="row">
        {% for result in results.all %}
        <div class="col-sm-3 card">
            <div class="title">{{result.title}}</div>
            <div class="date">{{result.pup_date}}</div>
            <div class="summary">{{result.summary}}</div>
            <a class="link" href="{% url 'detail' result.id%}">....더보기</a>
            <a class="link" href="{% url 'delete' result.id %}"> 삭제</a>
            <a class="link" href="{% url 'edit' result.id %}"> 수정</a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}