{% extends "base.html" %}
{% block header %}
{% load static %}

<!--CSS-->
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link rel="stylesheet" href="{% static 'css/search.css' %}">

{% endblock %}

{% block content %}


<!--모든 게시물-->
<div class="container-fluid">
    <div class="row">
        {% for word in words.all %}
        <div class="col-sm-3 card">
            <div class="title">{{word.title}}</div>
            <div class="date">{{word.pup_date}}</div>
            <div class="summary">{{word.summary}}</div>
            <a class="link" href="{% url 'detail' word.id%}">....더보기</a>
            <a class="link" href="{% url 'delete' word.id %}"> 삭제</a>
            <a class="link" href="{% url 'edit' word.id %}"> 수정</a>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}