<!--{% extends "navbar.html" %}
{% block upcontent %}
{% load static %}-->
<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!--CSS-->
    <link rel="stylesheet" href="navbaryes.css">
    <!--link rel="stylesheet" href="{% static 'css/home.css' %}"-->
    <!--link rel="stylesheet" href="{% static 'css/main.css' %}"-->

    <!--icons-->
    <script src="https://kit.fontawesome.com/351ea5145b.js" crossorigin="anonymous"></script>
    <script src="navbar.js" defer></script>

</head>

<body>
    <div class="navbar_wrapper">
        <nav class="navbar">
            <div class="navbar_logo">
                <i class="fas fa-frog"></i>
                <a href="{% url 'main'%}">FroGGii</a>
            </div>
            <!--div class="w-100"></div-->
            <!--div id="describe">Growth Newsletter</div-->
            <a href="#" class="navbar_toggleBtn">
                <i class="fas fa-bars"></i>
            </a>
        </nav>
        <nav class="navbar">
            <ul class='navbar_menu'>
                <li><a href="{% url 'home'%}">Archive</a></li>
                <li><a href="{% url 'about'%}">About</a></li>
                <!--{% if user.is_authenticated %}-->
                <li><a href="{% url 'new' %}">글쓰기</a></li>
                <li><a href="{% url 'mypage' %}">마이페이지</a></li>
                <!--a class='nav-item' href="javascript:{document.getElementById('logout').submit()}">로그아웃<span></span></a>
        <form id="logout" method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            <input type="hidden">
            </form>
            <div id="user">환영합니다. {{user.username}} 님!</div>
            {% else %}
            <a class='nav-item' href="{% url 'signup'%}">회원가입<span></span></a-->
                <li><a href="{% url 'login'%}">로그인</a></li>
                <!--{% endif %}-->
            </ul>
            <ul class="navbar_icons">
                <li><i class="fas fa-search"></i></li>
                <li><i class="far fa-user-circle"></i></li>
            </ul>
        </nav>
    </div>

    <div class='contents'>
        <p1>컨텐츠</p1><br><br>
        <p1>컨텐츠</p1><br><br>
        <p1>컨텐츠</p1><br><br>
        <p1>컨텐츠</p1><br><br>
        <p1>컨텐츠</p1><br><br>
        <p1>컨텐츠</p1><br><br>
        <p1>컨텐츠</p1><br><br>
    </div>

    <footer class="bg-dark text-center text-white" style="background-color:#06879a">
        <!-- Grid container -->
        <div class="container p-4 pb-0" style="background-color:#06879a">
            <!-- Section: Social media -->
            <section class="mb-4">
                <!-- Facebook -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-facebook-f"></i></a>
                <!-- Google -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-google"></i></a>
                <!-- Instagram -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-instagram"></i></a>
                <!-- Github -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-github"></i></a>
            </section>
            <!-- Section: Social media -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color:#06879a;">
            © 2021 Copyright:
            <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
        </div>
        <!-- Copyright -->
    </footer>